@using Models = TaskTrackerApp.Models;
@inject IViewLocalizer Localizer;

<div class="popup-add-task">

    <div class="popup-add-task-background">
        <div class="popup-add-task-body text-center">
            <div class="display-6">@Localizer["StrAddTask"]</div>
            <hr />
            <div class="popup-add-task-body-controls">

                <form class="popup-form" asp-controller="Home" asp-action="AddTask">

                    <input name="idSection" class="em-hidden" />

                    <input id="nameTask" name="nameTask" type="text" class="input-text-popup" placeholder="@Localizer["StrInputNameTask"]"/>

                    <textarea id="descriptionTask" name="descriptionTask" class="input-text-popup text-area" placeholder="@Localizer["StrInputDescriptionTask"]"></textarea>

                    <div class="popup-inner-div">
                        <div style="display: inline-flex; flex-direction: column;">
                            <span><b>@Localizer["StrStatus"]</b></span>
                            <select name="status" style="height: 28px;">
                                @foreach (Models.TaskStatus item in ViewBag.Statuses)
                                {
                                    <option value="@item.Id">@item.Status</option>
                                }
                            </select>
                        </div>

                        <div style="display: inline-flex; flex-direction: column;">
                            <span><b>Срок</b></span>
                            <input id="input-dueDate__popup" name="dueDate" class="input-date" type="datetime-local" style="height: 28px;" />
                        </div>
                    </div>

                    <input id="performersList" name="performersList" type="text" class="input-text-popup" style="margin: 10px;" placeholder="@Localizer["StrInputPerformers"]" />

                    <button id="addTaskBtn__popup" class="btn btn-primary" style="margin: 10px;" type="submit">@Localizer["BtnSave"]</button>
                </form>
            </div>
        </div>
    </div>
</div>
