@using Models = TaskTrackerApp.Models;

@inject IViewLocalizer Localizer
@model TaskTree
@{
    ViewData["Title"] = "Home Page";
}



<div class="column-first">

    <div class="text-center" style="display: flex; flex-direction: row; justify-content: space-between; margin: 0 5px 0 5px;">
        <h2>@Localizer["TaskList"]</h2>
        <div>
            <button id="addSectionBtn" class="btn btn-primary">Добавить раздел</button>
        </div>
    </div>

    <nav class="navigate-panel" style="">
        <div id="taskTree">
            <ul>

                @foreach (Section treeSection in ((TaskTree)ViewBag.TaskTree).Sections)
                {

                    <li id="section_@treeSection.Id" class="li-section">

                        <span class="span-section">
                            @treeSection.Title
                            <em class="em-description">@treeSection.Description</em>

                        </span>
                        <div class="three-dot-div">

                            <div class="popUp-view">
                                <form asp-controller="Home">
                                    <button type="button" class="btn-primary-popup btn-add-task">@Localizer["BtnAdd"]<em class="em-hidden">@treeSection.Id</em></button>

                                    <button type="submit" class="btn-primary-popup" asp-action="RemoveSection" asp-route-idSection="@treeSection.Id">@Localizer["BtnDelete"]</button>
                                </form>
                            </div>
                            <svg class="three-dot-svg">
                                <circle class="three-dot-piece" r="2" cx="2.5" cy="3"></circle>
                                <circle class="three-dot-piece" r="2" cx="2.5" cy="9"></circle>
                                <circle class="three-dot-piece" r="2" cx="2.5" cy="15"></circle>
                            </svg>


                        </div>

                        @foreach (var treeTask in ((TaskTree)ViewBag.TaskTree).Tasks)
                        {
                            if (treeTask.IdSection == treeSection.Id)
                            {
                                <ul>
                                    <li id="task_@treeSection.Id" class="li-task">

                                        <span class="span-task">
                                            @treeTask.Title
                                            <em class="em-description">@treeTask.Description</em>
                                            <em class="em-date-register">@treeTask.DateRegister</em>
                                            <em class="em-status">@treeTask.Status</em>
                                            <em class="em-status-id">@treeTask.IdStatus</em>
                                            <em class="em-labor">@treeTask.Laboriousness</em>
                                            <em class="em-date-exec">@treeTask.PeriodExecution</em>
                                            <em class="em-actual-date">@treeTask.DateCompletion</em>
                                            <em class="em-actual-time-exec">@treeTask.ActualExecutionTime</em>
                                            <em class="em-performers-list">@treeTask.PerformersList</em>
                                        </span>

                                        <div class="three-dot-div">
                                            <div class="popUp-view">
                                                <form asp-controller="Home">
                                                    <button type="button" class="btn-primary-popup btn-add-subtask">Добавить <em class="em-hidden">@treeTask.Id</em></button>
                                                    @if (treeTask.IdStatus == 1 || treeTask.IdStatus == 2)
                                                    {
                                                        <button type="submit" asp-action="PauseTask" class="btn-primary-popup btn-pause-subtask" asp-route-idTask="@treeTask.Id">Приостановить <em class="em-hidden">@treeTask.Id</em></button>
                                                    }
                                                    else
                                                    {
                                                        <button type="submit" asp-action="ResumeTask" class="btn-primary-popup btn-resume-subtask" asp-route-idTask="@treeTask.Id">Возобновить <em class="em-hidden">@treeTask.Id</em></button>
                                                    }

                                                    <button type="submit" class="btn-primary-popup" asp-action="RemoveTask" asp-route-idTask="@treeTask.Id">@Localizer["BtnDelete"]</button>
                                                </form>
                                            </div>
                                            <svg class="three-dot-svg">
                                                <circle class="three-dot-piece" r="2" cx="2.5" cy="3"></circle>
                                                <circle class="three-dot-piece" r="2" cx="2.5" cy="9"></circle>
                                                <circle class="three-dot-piece" r="2" cx="2.5" cy="15"></circle>
                                            </svg>
                                        </div>
                                        @foreach (var treeSubtask in ((TaskTree)ViewBag.TaskTree).Subtasks)
                                        {
                                            if (treeSubtask.IdTask == treeTask.Id)
                                            {
                                                <ul>
                                                    <li id="subtask_@treeSection.Id" class="li-subtask">

                                                        <span class="span-subtask">
                                                            @treeSubtask.Title

                                                            <em class="em-description">@treeSubtask.Description</em>
                                                            <em class="em-date-register">@treeSubtask.DateRegister</em>
                                                            <em class="em-status">@treeSubtask.Status</em>
                                                            <em class="em-status-id">@treeSubtask.IdStatus</em>
                                                            <em class="em-labor">@treeSubtask.Laboriousness</em>
                                                            <em class="em-date-exec">@treeSubtask.PeriodExecution</em>
                                                            <em class="em-actual-date">@treeSubtask.DateCompletion</em>
                                                            <em class="em-actual-time-exec">@treeSubtask.ActualExecutionTime</em>
                                                        </span>
                                                        <div class="three-dot-div">
                                                            <div class="popUp-view">
                                                                <form asp-controller="Home">
                                                                    @if (treeSubtask.IdStatus == 1 || treeSubtask.IdStatus == 2)
                                                                    {
                                                                        <button type="submit" asp-action="PauseSubtask" class="btn-primary-popup btn-pause-subtask" asp-route-idSubtask="@treeSubtask.Id">Приостановить <em class="em-hidden">@treeSubtask.Id</em></button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <button type="submit" asp-action="ResumeSubtask" class="btn-primary-popup btn-resume-subtask" asp-route-idSubtask="@treeSubtask.Id">Возобновить <em class="em-hidden">@treeSubtask.Id</em></button>
                                                                    }
                                                                    <button type="submit" class="btn-primary-popup" asp-action="RemoveSubtask" asp-route-idTask="@treeSubtask.Id">@Localizer["BtnDelete"]</button>
                                                                </form>

                                                            </div>
                                                            <svg class="three-dot-svg">
                                                                <circle class="three-dot-piece" r="2" cx="2.5" cy="3"></circle>
                                                                <circle class="three-dot-piece" r="2" cx="2.5" cy="9"></circle>
                                                                <circle class="three-dot-piece" r="2" cx="2.5" cy="15"></circle>
                                                            </svg>


                                                        </div>

                                                    </li>
                                                </ul>
                                            }
                                        }
                                    </li>
                                </ul>
                            }
                        }
                    </li>
                }
            </ul>
        </div>

    </nav>

</div>


<div class="column-second">

    <div class="text-center mainpage">
        <h1 id="mainTitle" class="display-4"> <=Выберите задачу </h1>
        <div class="item-attributes">

            <div class="item-attr attr-date-register">
                <b>Дата регистрации: </b>
                <br />
                <div class="item-attr-value"></div>
            </div>
            <div class="item-attr attr-status">
                <b>Статус: </b>
                <br />
                <div class="item-attr-value"></div>
            </div>
            <div class="item-attr attr-labor">
                <b>Плановая трудоемкость: </b>
                <br />
                <div class="item-attr-value"></div>
            </div>
            <div class="item-attr attr-date-execution">
                <b>Дата завершения: </b>
                <br />
                <div class="item-attr-value"></div>
            </div>
            <div class="item-attr attr-actual-date">
                <b>Фактическая дата завершения: </b>
                <br />
                <div class="item-attr-value"></div>
            </div>
            <div class="item-attr attr-actual-date-execution">
                <b>Фактическое время выполнения: </b>
                <br />
                <div class="item-attr-value"></div>
            </div>

            <div class="item-attr attr-performers-list">
                <b>Список исполнителей:</b>
                <br />
                <div class="item-attr-value"></div>
            </div>

        </div>

        <hr />
        <p id="mainDescription"></p>
    </div>
</div>

<div class="popup-add-section">

    <div class="popup-add-section-background">
        <div class="popup-add-section-body text-center">
            <p class="display-6 ">Добавление раздела</p>
            <hr />
            <div class="popup-add-section-body-controls">
                <form class="popup-form" asp-controller="Home" asp-action="AddSection">
                    <input id="nameSection" name="nameSection" type="text" class="input-text-popup" placeholder="Название раздела (ресурсы)" />
                    <textarea id="descriptionSection" name="descriptionSection" class="input-text-popup text-area" placeholder="Описание раздела"></textarea>

                    <button class="btn btn-primary" type="submit">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="popup-add-task">

    <div class="popup-add-task-background">
        <div class="popup-add-task-body text-center">
            <p class="display-6">Добавление задачи</p>
            <hr />
            <div class="popup-add-task-body-controls">

                <form class="popup-form" asp-controller="Home" asp-action="AddTask">

                    <input name="idSection" class="em-hidden" />

                    <input id="nameTask" name="nameTask" type="text" class="input-text-popup" placeholder="Наименование задачи (ресурсы)" />

                    <textarea id="descriptionTask" name="descriptionTask" class="input-text-popup text-area" placeholder="Описание задачи"></textarea>

                    <div class="popup-inner-div">
                        <div style="display: inline-flex; flex-direction: column;">
                            <span><b>Status</b></span>
                            <select name="status" style="height: 28px;">
                                @foreach (Models.TaskStatus item in ViewBag.Statuses)
                                {
                                    <option value="@item.Id">@item.Status</option>
                                }
                            </select>
                        </div>

                        <div style="display: inline-flex; flex-direction: column;">
                            <span><b>Срок</b></span>
                            <input name="dueDate" type="datetime-local" style="height: 28px;" />
                        </div>

                    </div>

                    <input id="performersList" name="performersList" type="text" class="input-text-popup" style="margin: 10px;" placeholder="Исполнители" />

                    <button class="btn btn-primary" style="margin: 10px;" type="submit">Добавить</button>


                </form>
            </div>
        </div>
    </div>
</div>

<div class="popup-add-subtask">

    <div class="popup-add-subtask-background">
        <div class="popup-add-subtask-body text-center">
            <p class="display-6">Добавление подзадачи</p>
            <hr />
            <div class="popup-add-subtask-body-controls">

                <form class="popup-form" asp-controller="Home" asp-action="AddSubtask">

                    <input name="idTask" class="em-hidden" />

                    <input id="nameSubtask" name="nameSubtask" type="text" class="input-text-popup" placeholder="Наименование подзадачи (ресурсы)" />

                    <textarea id="descriptionSubtask" name="descriptionSubtask" class="input-text-popup text-area" placeholder="Описание подзадачи"></textarea>

                    <div class="popup-inner-div">
                        <div style="display: inline-flex; flex-direction: column;">
                            <span><b>Status</b></span>
                            <select name="status" style="height: 28px;">
                                @foreach (Models.TaskStatus item in ViewBag.Statuses)
                                {
                                    <option value="@item.Id">@item.Status</option>
                                }
                            </select>
                        </div>

                        <div style="display: inline-flex; flex-direction: column;">
                            <span><b>Срок</b></span>
                            <input name="dueDate" type="datetime-local" style="height: 28px;" />
                        </div>

                    </div>

                    <button class="btn btn-primary" style="margin: 10px;" type="submit">Добавить</button>


                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {


    <script>
$(document).ready(function() {
    $('.item-attributes').addClass('hidden-item');

    $('.span-section, .span-task, .span-subtask').click(function() {
        var descr = $(this).find('.em-description').text();
        setText(this.innerText, descr);
        if ($(this).hasClass('span-task') || $(this).hasClass('span-subtask')) {

            $('.item-attributes').removeClass('hidden-item');

            var dateReg = $(this).find('.em-date-register').text();
            $('.attr-date-register').find('.item-attr-value').text(dateReg);

            var status = $(this).find('.em-status').text();
            var statusId = $(this).find('.em-status-id').text();
            var attrValue = $('.attr-status').find('.item-attr-value').text(status);

            if (statusId == "2") {
                $(attrValue).css('color', '#52affe');
            }
            else if (statusId == "3") {
                $(attrValue).css('color', 'orange');
            }
            else if (statusId == "4") {
                $(attrValue).css('color', 'green');
            }
            else {
                $(attrValue).css('color', 'black');
            }

            var labor = $(this).find('.em-labor').text();
            $('.attr-labor').find('.item-attr-value').text(labor);

            var dateExec = $(this).find('.em-date-exec').text();
            $('.attr-date-execution').find('.item-attr-value').text(dateExec);

            var actualDate = $(this).find('.em-actual-date').text();
            $('.attr-actual-date').find('.item-attr-value').text(actualDate);

            var actualDateExec = $(this).find('.em-actual-time-exec').text();
            $('.attr-actual-date-execution').find('.item-attr-value').text(actualDateExec);

            if ($(this).hasClass('span-subtask')) {
                hide($('.attr-performers-list'));
            } else {
                var performersList = $(this).find('.em-performers-list').text();
                $('.attr-performers-list').removeClass('hidden-item');
                $('.attr-performers-list').find('.item-attr-value').text(performersList);
            }

        }
        else if ($(this).hasClass('span-section')) {
            hide($('.item-attributes'));
            
        }
    });

    function setText(title, description) {
        $('#mainTitle').text(title);
        $('#mainDescription').text(description);
    }

    function hide(item) {

        $(item).addClass('hidden-item');
    }
});
    </script>

    <script>
        $(document).ready(function() {
            $(".three-dot-div").click(function() {
                if (!$(this).hasClass('popupIsExist')) {
                    $('.popUp-view').css('opacity', '0').css('visibility', 'hidden');
                    $('.three-dot-div.popupIsExist').removeClass('popupIsExist');
                    $(this).addClass('popupIsExist');
                    $(this).find('.popUp-view').css('opacity', '1').css('visibility', 'visible');
                }
                else {
                    $('.popUp-view').css('opacity', '0').css('visibility', 'hidden');
                    $(this).removeClass('popupIsExist');
                }

            });

        });
    </script>

    <script>
        $(document).ready(function() {

            $("#addSectionBtn").click(function() {
                $('.popup-add-section').css('visibility', 'visible').css('opacity', '1');
            });
            $('.popup-add-section-background').click(function(e) {
                if (e.target !== e.currentTarget) return;
                $('.popup-add-section').css('visibility', 'hidden').css('opacity', '0');
                $('#nameSection').val("");
                $('#descriptionSection').val("");
            });
        });

    </script>

    <script>
        $(document).ready(function() {
            $(".btn-add-task").click(function() {
                var idParent = $(this).find('.em-hidden').text();
                $('.popup-add-task').find('.em-hidden').val(idParent);
                $('.popup-add-task').css('visibility', 'visible').css('opacity', '1');
            });
            $('.popup-add-task-background').click(function(e) {
                if (e.target !== e.currentTarget) return;
                $('.popup-add-task').css('visibility', 'hidden').css('opacity', '0');
                $('#nameTask').val("");
                $('#descriptionTask').val("");
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $('.btn-add-subtask').click(function() {
                var idParent = $(this).find('.em-hidden').text();
                $('.popup-add-subtask').find('.em-hidden').val(idParent);
                $('.popup-add-subtask').css('visibility', 'visible').css('opacity', '1');
            });
            $('.popup-add-subtask-background').click(function(e) {
                if (e.target !== e.currentTarget) return;
                $('.popup-add-subtask').css('visibility', 'hidden').css('opacity', '0');
                $('#nameSubtask').val("");
                $('#descriptionSubtask').val("");
            });
        });
    </script>
    <script src="~/scripts/tasktree.js"></script>
}




