@inject IViewLocalizer Localizer;

<div class="item-attributes">

    <div class="item-attr attr-date-register">
        <b>@Localizer["StrDateRegister"]: </b>
        <br />
        <div class="item-attr-value"></div>
    </div>
    <div class="item-attr attr-status">
        <b>@Localizer["StrStatus"]: </b>
        <br />
        <div class="item-attr-value"></div>
    </div>
    <div class="item-attr attr-labor">
        <b>@Localizer["StrLabor"]: </b>
        <br />
        <div class="item-attr-value"></div>
    </div>
    <div class="item-attr attr-date-execution">
        <b>@Localizer["StrDateExec"]: </b>
        <br />
        <div class="item-attr-value"></div>
    </div>
    <div class="item-attr attr-actual-date">
        <b>@Localizer["StrActualDateExec"]: </b>
        <br />
        <div class="item-attr-value"></div>
    </div>
    <div class="item-attr attr-actual-date-execution">
        <b>@Localizer["StrActualTimeExec"]: </b>
        <br />
        <div class="item-attr-value"></div>
    </div>

    <div class="item-attr attr-performers-list">
        <b>@Localizer["StrPerformersList"]:</b>
        <br />
        <div class="item-attr-value"></div>
    </div>

</div>